body {
  margin: 0;
  text-align: center;
  font-family: 'League Script', cursive;
  font-family: 'Poppins', sans-serif;
}

.teacher-icon {
  height: 100px;
}

.student-icon {
  height: 100px;
}

.school-icon {
  height: 100px;
}

.desk-icon {
  height: 100px;
}

.copyright{
  color: #e3c4a8;
  font-size: 1rem;
}

hr{
  border: dotted #c7956d 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

h1 {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 3;
  color: #f2e9d0;
  font-family: league script;
}

h2 {
  font-family: league script;
  font-size: 1.75rem;
  line-height: 3;
  color: #87431d;
}

h3 {
  font-size: 1rem;
}

p {
  font-family: poppins;
  font-size: 1rem;
}

a{
  font-family: poppins;
  color: #87431d;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover{
  color: #e3c4a8;
}

.intro-container {
  background-color: #c7956d;
}

.education-container {
  background-color: #e3c4a8;
}

.experiences-container {
  background-color: #e3c4a8;
}

.contactme-container {
  background-color: #e3c4a8;
}

.link-container {
  background-color: #c7956d;
  padding-top: 30px;
  padding-bottom: 10px;
}

.btn {
  background: #87431d;
  background-image: -webkit-linear-gradient(top, #87431d, #6e300e);
  background-image: -moz-linear-gradient(top, #87431d, #6e300e);
  background-image: -ms-linear-gradient(top, #87431d, #6e300e);
  background-image: -o-linear-gradient(top, #87431d, #6e300e);
  background-image: linear-gradient(to bottom, #87431d, #6e300e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b88469;
  background-image: -webkit-linear-gradient(top, #b88469, #9c6a4c);
  background-image: -moz-linear-gradient(top, #b88469, #9c6a4c);
  background-image: -ms-linear-gradient(top, #b88469, #9c6a4c);
  background-image: -o-linear-gradient(top, #b88469, #9c6a4c);
  background-image: linear-gradient(to bottom, #b88469, #9c6a4c);
  text-decoration: none;
}
